#video-box:after {
	content:'';
	display:block;
	clear:both;
}
#waiting-for-someone {
	position:absolute;
	top: 40px;
	left: 4px;
	padding: 8px;
	background-color: grey;
	color:white;
}
video {
	width:100%;
}
.slot {
	display : relative;
	width: 49%;
	float: left;
	border: 1px solid blue;
}
.slot.me {
	border : 1px solid red;
}

/** 전자칠판 오픈 */
.on-whiteboard  #video-box {
	width: 240px;
}
.on-whiteboard #video-box .slot {
	clear:left;
	width:100%;
}
.on-whiteboard #chat-box {
	width: 240px;
}
