@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);


/**

 font-weight:200 = UltraLight
 font-weight:300 = Light
 font-weight:400 = Regular
 font-weight:700 = Bold

**/
*{font-family: 'Noto Sans KR', sans-serif ;font-weight: 400;letter-spacing: 0px;word-break: keep-all;color: #666;box-sizing: border-box}
body,div,
p,
ul,
li  {
    font-weight: 400;
    padding: 0;
    color: #333;
}

a {
    cursor: pointer
}

a:link {
    color: #333;
    text-decoration: none;
}

a:visited {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    -webkit-padding-start: 0
}

li {
    list-style: none;
}

textarea {
    resize: none;
    padding: 5px;
    font-size: 14px
}

button {
    cursor: pointer
}

input,
button {
    border-radius: 0;
    background: #fff;
    border: 1px solid #aaa
}

/* input:focus {
    border-color: 
} */

/*input[type=range] { width:100%; -webkit-appearance: ; background: transparent; }*/
 input[type=range] {
    -webkit-appearance: none; 
    width: 100%; 
    height: 6px;
    background: #d5d4d3; 
    cursor: pointer;
    border-radius: 0; /* iOS */
    transition: background 450ms ease-in;
    position: relative;
     top: -3px;
  }

  input[type=range]:focus {
    outline: none; 
  }

  input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background: #fff;
    border: 1px solid #3ebaae;
    border-radius:50%;
    cursor: pointer;
  }
  input[type=range]::-moz-range-thumb{
    -webkit-appearance: none;
    width:10px;
    height:10px;
    background: #fff;
    border: 1px solid #3ebaae;
    border-radius:50%;
    cursor: pointer;
  }
/* textarea:focus {
    border-color: 
} */

video{
    background-color: gray;
    object-fit: fill;
    width: 250px;
    height: 250px;
}

/* footer {
} */




.line-clamp{
    display            : block;
	display            : -webkit-box;
	-webkit-box-orient : vertical;
	position           : relative;
	line-height        : 1.2;
	overflow           : hidden;
	text-overflow      : ellipsis;
	padding            : 0 !important;}
.line-clamp:after{content    : '...';
	text-align : right;
	bottom     : 0;
	right      : 0;
	width      : 12px;
	display    : block;
	position   : absolute;
	height     : calc(1em * 1.2);
	background : linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 0%);}

@supports (-webkit-line-clamp: 1)
{
	.line-clamp:after
	{
		display : none !important;
	}
}
.line-clamp-1
{
	-webkit-line-clamp : 1;
    height     : calc(1em * 1.2 * 1);
}
.line-clamp-2
{
	-webkit-line-clamp : 2;
    height     : calc(1em * 1.2 * 2);
}
.line-clamp-3
{
	-webkit-line-clamp : 3;
    height     : calc(1em * 1.2 * 3);
}
.line-clamp-4
{
	-webkit-line-clamp : 4;
    height     : calc(1em * 1.2 * 4);
}
.line-clamp-5
{
	-webkit-line-clamp : 5;
    height     : calc(1em * 1.2 * 5);
}



/* main css */
body{max-width: 100%;margin: 0 auto;display: block;padding: 0px 15px 30px}
body::after{clear: both;content: '';display: block;}
#section01{width: 49%;margin-right: 2%;float: left;margin-top: 20px;box-sizing: border-box}
#section01 .tab-wrap{display: table;width: 100%;padding: 10px 0px;box-shadow: 1px 1px 5px rgba(0,0,0,0.065);border-radius: 5px;}
#section01 .tab-wrap .tab{display: table-cell;text-align: center;color: #aaa;font-size: 14px;cursor: pointer}
#section01 .tab-wrap .on{color: #3ebaae;font-weight: 700}

#section01 .c-box01{width: 100%;padding-bottom: 100%;height: 0;background: #efefef;margin-top: 20px;border-radius: 5px;position: relative;}
#section01 .c-box01 .audio{position: absolute;top: 50%;transform: translate(-50%);left: 50%;width: 70%;padding: 5px;box-shadow: 1px 1px 5px rgba(0,0,0,0.065);border-radius: 5px; background: #fff;padding: 10px;}
#section01 .c-box01 .audio .filebox{width: 100%;display: block;margin: 0 auto;display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;}
#section01 .c-box01 .audio .filebox .btn{font-size: 14px;padding: 10px 15px;display: inline-block;color: #666;border-radius: 5px; background: #efefef;cursor: pointer}
#section01 .c-box01 .audio .filebox div{font-size: 14px;padding: 10px 15px;display: inline-block;color: #333;border-radius: 5px;}


#section02 {width: 49%;float: left;margin-top: 20px;box-sizing: border-box}
#section02 .title{background: #3ebaae;color: #fff;font-weight: 700;padding: 10px 15px;border-radius: 5px 5px 0px 0px;font-size: 14px;position: relative;}
#section02 .title::after{clear: both;content: '';display: block;position: absolute;top: 13px;right: 15px;width: 15px;height: 15px;background: url('../img/up-arrow.png');background-size: cover;background-repeat: no-repeat}
#section02 .on::after{transform: rotate(180deg)}
#section02 .tab-wrap{display: flex;width: 100%;padding: 7px 15px;box-shadow: 1px 1px 5px rgba(0,0,0,0.065);border-radius: 5px}
#section02 .tab-wrap .sound{display: table;padding: 0px 10px}
#section02 .tab-wrap .sound .sound-btn{display: table-cell;width: 25px;height: 25px;background: url(../img/sound.png);background-size: cover;background-repeat: no-repeat}
#section02 .tab-wrap .sound .sound-btn input[type="range"]{display: table-cell;display: inline-block;padding: 10px;box-sizing: border-box;background: #fff;border-radius: 5px;font-size: 14px; color: #666;}

#section02 .tab-wrap .mic{display: table;padding: 0px 10px}
#section02 .tab-wrap .mic .mic-btn{display: table-cell;width: 25px;height: 25px;background: url(../img/mic.png);background-size: cover;background-repeat: no-repeat;margin: 0px 10px}
#section02 .tab-wrap .mic .mic-btn input[type="range"]{display: table-cell;color: #3ebaae}


#section02 .tab-wrap .rec{display: table;padding: 0 10px}
#section02 .tab-wrap .rec-box {display: table-cell;padding: 3px 5px;font-size: 14px;cursor: pointer}
#section02 .tab-wrap .on {background: #3ebaae;border-radius: 5px; color: #fff;font-size: 12px}
#section02 .tab-wrap .rec-time {display: table-cell;padding: 0px 10px; color: #aaa;font-size: 12px}

#section02 .student-wrap{margin-top: 20px;}
#section02 .student-wrap::after{clear: both;content: '';display: block;}
#section02 .student-wrap .box:first-child{margin-right: 2%;}
#section02 .student-wrap .box{width: 49%;height: 0;padding-bottom: 49%;background: #efefef;float: left;border-radius: 5px}

#section02 .chat-wrap {width: 49%;float: left;margin-right: 2%;margin-top: 20px;}
#section02 .chat-wrap .chat{position: relative;height: 300px;padding: 10px 10px 10px}
#section02 .chat-wrap .chat .title{font-size: 14px}

#section02 .chat-wrap .chat .member{}
#section02 .chat-wrap .chat .member .profile-name{display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;}
#section02 .chat-wrap .chat .member .profile-name .profile{width: 30px;height: 30px;background: #333;border-radius: 50%}
#section02 .chat-wrap .chat .member .profile-name .name{}
#section02 .chat-wrap .chat .member .chatbox{font-size: 14px;box-shadow: 1px 1px 5px rgba(0,0,0,0.085);padding: 15px;background: #d7f9f3;color: #999;max-width: 100%;display: inline-block;margin-top: 5px;}

#section02 .chat-wrap .chat .me{}
#section02 .chat-wrap .chat .me .chatbox{font-size: 14px;box-shadow: 1px 1px 5px rgba(0,0,0,0.085);padding: 15px;background: #fff;color: #999;max-width: 100%;display: inline-block;margin-top: 5px;}


#section02 .s-wrap{width: 49%;float: left;margin-top: 20px;border-radius: 5px;position: relative;}
#section02 .s-wrap .file-share{box-shadow: 1px 1px 5px rgba(0,0,0,0.065)}
#section02 .s-wrap .file-share .wrap{padding: 0px 10px;height: 100px;overflow-y: auto}
#section02 .s-wrap .file-share .wrap .title{font-size: 14px;position: relative;}
#section02 .s-wrap .file-share .wrap .title::after{clear: both;content: '';display: block;position: absolute;top: 0;right: 0;width: 20px;height: 20px;background: url('../img/down-arrow.png');background-size: cover;background-repeat: no-repeat}
#section02 .s-wrap .file-share .wrap .file{display: table;padding: 7px 0px;border-bottom: 1px solid rgba(0,0,0,0.045);width: 100%;}
#section02 .s-wrap .file-share .wrap .file p{display: table-cell;padding: 0px 10px;font-size: 12px;width: 15%;text-align: center;color: #aaa;cursor: pointer}
#section02 .s-wrap .file-share .wrap .file p:first-child{width: 70%;font-size: 14px;text-align: left;color: #333;}

#section02 .accessor {margin-top: 20px;box-shadow: 1px 1px 5px rgba(0,0,0,0.065)}
#section02 .accessor .title{font-size: 14px}
#section02 .accessor .wrap{padding: 0px 20px;height: 100px;overflow-y: auto}
#section02 .accessor .wrap .user{border-bottom: 1px solid #eaeaea}
#section02 .accessor .wrap .user p{font-size: 14px;margin: 0;padding: 7px 0px}

/* responsive css */

@media (max-width:900px){
    
    #section01{width: 100%;}
    #section01 .tab-wrap{}
    #section01 .tab-wrap .tab{}
    #section01 .tab-wrap .on{}

    #section01 .c-box01{}
    #section01 .c-box01 .audio{width: 90%;}

    #section02 {width: 100%;}
    #section02 .tab-wrap{padding: 5px 5px}
    #section02 .tab-wrap .sound{width: 50%;padding: 0px 5px;}
    #section02 .tab-wrap .sound .sound-btn{}
    #section02 .tab-wrap .sound .sound-btn input[type="range"]{}

    #section02 .tab-wrap .mic{width: 50%;padding: 0px 5px;}
    #section02 .tab-wrap .mic .mic-btn{}
    #section02 .tab-wrap .mic .mic-btn input[type="range"]{}
    #section02 .tab-wrap .rec{padding: 0px 5px;}
    #section02 .student-wrap{}
    #section02 .student-wrap .box{}

    #section02 .chat-wrap{width: 100%;}
    #section02 .chat-wrap .chat{}
    #section02 .chat-wrap .chat .title{}
    #section02 .chat-wrap .chat .member{}
    #section02 .chat-wrap .chat .member .profile-name{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;}
    #section02 .chat-wrap .chat .member .profile-name .profile{}
    #section02 .chat-wrap .chat .member .profile-name .name{}
    #section02 .chat-wrap .chat .member .chatbox{}

    #section02 .chat-wrap .chat .me{}
    #section02 .chat-wrap .chat .me .chatbox{}
    #section02 .tab-wrap .rec{display: block;}
    #section02 .tab-wrap .rec-time{padding: 0px 5px}
    
    #section02 .s-wrap{width: 100%;}
    #section02 .s-wrap .file-share{}
    #section02 .s-wrap .file-share .title{}
    #section02 .s-wrap .file-share .file{}
    #section02 .s-wrap .file-share .file p{}
    #section02 .s-wrap .file-share .file p:first-child{}

    #section02 .accessor {}
    #section02 .accessor .title{}
}
