/* 기본 스타일 */
body {
	margin:0;
	padding:0;
}
#room-list .room {
	margin: 4px 0;
	padding: 8px;
	border: 1px solid grey;
}
.room-name {
	display:inline-block;
	padding: 4px;
	min-width: 240px;
	background-color: #ff9988;
	color:blue;
	font-size: 140%;
	font-weight: bold;
	cursor: pointer;
}
.room-user {
	display:block;
	padding: 8px 0 8px 16px;
	background-color: #cdcdcd;
}
.room-user > .user {
	display:inline-block;
	margin: 4px;
	padding: 4px;
	border: 1px solid #898989;
}
.user-count {
	display: inline-block;
	padding: 0 1em;
	font-weight:bold;
}


span.cbutton {
	display:inline-block;
	padding: 4px;
	background-color: #494949;
	color:white;
	border: 1px solid grey;
	cursor:pointer;
}


/** video chat room */

#video-chat-room {
}

/** video chat room button : 비디오룸 상단 버튼 */
#video-chat-room-button {
}


/* buttons on each user's video. name */
.video-button {
}
.video-button .name {
}


/* 채팅 박스 */
.chat-box {
}

.chat-message {
	overflow-y: auto;
	color: #444444;
	background-color: #faf2f6;
}
.chat-message {
	height: 160px;
	border: 1px solid grey;
}


.chat-box .send {
	padding: 8px 3px 0 3px;
}




/* white board */


#white-board-wrapper {
	position:absolute;
	z-index:2001;
	border: 1px solid grey;
}
#white-board {
	position:relative;
}
#white-board-iframe {
	position:absolute;
	z-index:2101;
	top:0;
	left:0;
	background-color: #efefef;
}
#white-board .menu {
	position:absolute;
	z-index:2201;
}
#white-board #canvas {
	display:none;
	border: 1px solid blue;
	position:absolute;
	z-index:2190;
	top:0;
	left:0;
	cursor: pointer;
}

#white-board-menu-open-popup {
	border: 1px solid grey;
	position:absolute;
	z-index:2301;
	background-color:white;
}


#white-board .menu .pen {
	display:none;
}

#white-board .menu .type {
	display:none;
}

#white-board .menu .color {
	display:none;
}

#white-board .menu .eraser {
	display:none;
}

#white-board .menu .clear {
	display:none;
}

#white-board-iframe-open {
	border: 0;
}

